@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto" sans-serif;
}
a {
    color: black;
    text-decoration: none;
}
header {
    display: flex;
    height: 120px;
    width: 100vw;
    margin: -20px 0px -10px 20px;
}
header a {
    font-weight: bold;
    display : flex;
    justify-content: center;
    align-items: center;
}
header a h3 {
    margin-left: 10px;
}
header a img {
    height: 50px;
    width: 50px;
}
.logo {
    margin-left: 60px;
}
.container {
    width: 100vw;
    margin-left: 100px;
    display: flex;
    justify-content: space-evenly;
}
.container a:active {
    color: #009EFF;
}
.container a:hover {
    color: #009EFF;
}
.whole {
    background-color: #E1E1E1;
    height: 100vh;
    width: 100vw;}
aside {
    background-color: white;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    float:left;
}
aside input {
    display: block;
    margin: 200px 0px;
    height: 50;
    width: 200px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #353DA2;
    color: white;
    font-weight: bold;
    border: 0px;
}
main {
    display: flex;
}
.bare {
 background-color: white;
 margin: 10px 20px 0px 20px;
 height: 100vh;
 width: 100vw;
}
.bare table{
    margin-left: 40px;
}
.bare th input{
    margin-bottom: 60px;
    margin-left: 70px;
}
.bare img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 15px;
}
.bare td {
    margin:  200px 0px;
}
.bare table input {
    padding: 5px 80px 5px 10px;
    margin-top: 10px;
}
.bare td input:focus {
    padding: 10px 250px 30px 10px;
}

